* {
  margin: 0;
  padding: 0;
  font-family: "sarabun", sans-serif;
  font-size: 15px;
}

.header {
  height: 70px;
  background-color: rgb(148, 147, 147);
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 11px -5px rgba(0, 0, 0, 1);
}

.logo {
  padding: 0 20px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 0px 20px rgb(17, 17, 17);
}

.main-chat {
  padding: 30px;
}
.chat-right,
.chat-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

.chat-right {
  align-items: flex-end;
}

.chat-left {
  align-items: flex-start;
}

.chat-right-send {
  background-color: rgb(138, 255, 169);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px #86ff86;
}

.chat-right-send:hover {
  background-color: rgb(138, 255, 169);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px #86ff86;
  position: relative;
  top: -2px;
}

.chat-right-fail {
  background-color: rgb(202, 200, 200);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px #9c9c9c;
}

.chat-right-fail:hover {
  background-color: rgb(202, 200, 200);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px #9c9c9c;
  position: relative;
  top: -2px;
}

.chat-left-send {
  background-color: rgb(107, 107, 107);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px #828181;
}

.chat-left-send:hover {
  background-color: rgb(107, 107, 107);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px #828181;
  position: relative;
  top: -2px;
}

.ad {
  top: 72px;
  right: 10px;
  position: absolute;
  border: 0px solid;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: -21px 9px 0px 8px rgb(138, 255, 169);
  rotate: -40deg;
  scale: 0.4;
  z-index: -1;
}

.ab {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 3px 1px rgb(82, 1, 1);
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 170px;
  right: 35px;
  opacity: 0;
  transition-duration: 200ms;
}

.ab:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 3px 1px rgb(255, 0, 0);
  color: rgb(3, 3, 3);
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 1200;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  position: absolute;
  transition-duration: 200ms;
  top: 172px;
  right: 35px;
  cursor: pointer;
  opacity: 1;
}

body:has(.chat-right-fail:hover) .ab {
  opacity: 1;
  transition-duration: 200ms;
}
