/* Start coding here */
* {
  font-family: "sarabun", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.chat-section {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  width: 100vw;
  height: 5vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-right,
.chat-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-right {
  align-items: flex-end;
}

.chat-right .chat {
  background-color: green;
}

.chat-right .fail {
  background-color: silver;
}

.chat-left {
  align-items: flex-start;
}

.chat-left .chat {
  background-color: rgba(0, 0, 0, 0.5);
}

.chat {
  padding: 20px;
  border-radius: 15px;
  margin: 1px;
}

div .x {
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(255, 255, 255, 0.445);
  color: white;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 120px;
}

div .test {
  top: 25px;
  right: -3px;
  position: absolute;
  border: 0px solid;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: -21px 9px 0px 8px green;
  rotate: -60deg;
  scale: 0.4;
}
